<div class="event" id="<%= dom_id event %>">
  <%= link_to gravatar_for(event.user), event.user %>
  <div class="event-main">
    <div class="event-head">
      <a class="event-created-at"><%= event_time_format(event.created_at) %></a>
      <span class="event-actor"><%= link_to event.user.name, event.user %></span>
      <span class="event-action"><%= event.description %></span>
      <span class="event-text"><%= link_to_eventable(event) %></span>
    </div>
    <% if event.eventable.class == Comment %>
      <div class="event-body">
        <p class="event-text"><%= event.eventable.content %></p>
      </div>
    <% end %>
  </div>
</div>
