<div class="page">
  <div class="project-header">
    <div class="project-hd-info">
      <span class="project-title"><%= @project.name %></span>
      <br>
      <span class="project-desc"><%= @project.description %></span>
    </div>
  </div>

  <h3>任务</h3>
  <div class="todolist">
    <ul class="todos" id="todos-uncompleted">
      <%= render @todos %>
    </ul>
    <ul>
      <li><%= link_to "添加新任务", new_project_todo_path(@project), id: "add_new_todo" %></li>
      <li>
        <%= render "todos/form" %>
      </li>
    </ul>
    <ul class="todos" id="todos-completed">
      <%= render @completed_todos %>
    </ul>
  </div>
</div>
