<li class="todo <%= "completed" if todo.completed? %>" id="<%= dom_id todo %>">
  <span><%= check_box_tag "todo[#{todo.id}][status]", todo.status, todo.completed?, class: "todo_checkbox", "data-project" => @project.id, "data-todo" => todo.id  %></span>
  <%= link_to todo.content, [@project, todo] %>
  <span class="todo_label_info <%= 'delay' if todo.delay? %>"><%= todo.assigned_and_end_time_info %></span>
  <span class="edit_todo_label">
    <% if can? :update, @todo %>
    <%= link_to "编辑", edit_project_todo_path(@project,todo), class: "edit_todo_link", remote: true %>
    <% end %>
    <% if can? :destroy, @todo %>
    <%= link_to "删除", project_todo_path(@project, todo), method: :delete,
                        data: { confirm: '确定删除?' }, class: "delete_todo_link", remote: true  %>
    <% end %>
  </span>
</li>
